{
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "proseWrap": "never",
  "overrides": [
    {
      "files": "*.mdx",
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
